@page
@{
    ViewData["Title"] = "-Licensing.js";

    var server = $"http://{Request.Host.Host}:{Request.Host.Port}";
    var guid = "{666140C4-DFC8-435E-9243-E8A54042F918}";
    var revision = 0;
    var warehouse = "bad-warehouse";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    <script type="text/javascript">
        var MeadCo = { "logEnable": true };
    </script>

    <environment include="Development">
        <script src="/scripts/src/meadco-core.js"></script>
        <script src="/scripts/src/meadco-scriptxprint.js"></script>
        <script src="/scripts/src/meadco-scriptxprinthtml.js"></script>
        <!-- javscript Add.on to Scriptx.Services compatibility -->
        <!-- Connect to ScriptX.Services for Windows PC -->
        <!-- Use the same evaluation GUID - it is subject to change -->
        <script src="/scripts/src/meadco-scriptxprintlicensing.js"
                data-meadco-server="@server"
                data-meadco-syncinit="true"
                data-meadco-license="@guid"
                data-meadco-license-path="@warehouse"
                data-meadco-license-revision="@revision" asp-append-version="true">
        </script>

        <script type="text/javascript">
            console.log("Try to useAttributes()...");
            MeadCo.ScriptX.Print.useAttributes();
        </script>
    </environment>

    <environment exclude="Development">
        <script src="/scripts/dist/meadco-scriptxserviceslicensing.min.js"></script>

        <!-- javscript Add.on to Scriptx.Services compatibility -->
        <!-- Connect to ScriptX.Services for Windows PC -->
        <!-- Use the same evaluation GUID - it is subject to change -->
        <script src="/scripts/dist/meadco-scriptxserviceslicensing.min.js"
                data-meadco-server="@server"
                data-meadco-syncinit="true"
                data-meadco-license="@guid"
                data-meadco-license-path="@warehouse"
                data-meadco-license-revision="@revision">
        </script>
    </environment>

}

@section TestScripts {
    <script src="~/js/UnitTests/serverinfo.js" asp-append-version="true"></script>
    <script src="~/js/UnitTests/licensing2.js" asp-append-version="true"></script>
}

