@model ScriptX.Print.Client.Models.Sample

@{
    ViewBag.Title = Model.Title;
    var frameUrl = Url.Action("FramedHeaderFooterArgs");
    var server = $"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~/api/v1/printHtml")}";
}

<h2>@ViewBag.Title</h2>

<div>
    <button id="btn-printPage" class="btn btn-primary">Print page</button>&nbsp;
</div>

<div style="margin: 20px; width: 50%; height: 500px">
    <iframe style="width: 100%; height: 100%; border: 2px solid grey; margin: 0px" src="@frameUrl" id="infoframe"></iframe>
</div>

<div id="logPane"></div>

@section scripts
{
    <script type="text/javascript">
        function pageLogger(txt) {
            $("#logPane").append(txt + "<br/>");
        }
    </script>

    <script src="~/Scripts/meadco-scriptx.js"></script>

    <script src="@Url.Action("script", "Home", new {filename = "meadco-core.js"})"></script>
    <script src="@Url.Action("script", "Home", new {filename = "meadco-scriptxprint.js"})"></script>
    <script src="@Url.Action("script", "Home", new {filename = "meadco-scriptxprinthtml.js"})"></script>
    <script data-meadco-printhtmlserver="@server" data-meadco-subscription="@Model.License" data-meadco-syncinit="false" src="@Url.Action("script", "Home", new {filename = "meadco-scriptxfactory.js"})"></script>

    <script src="@Url.Action("script", "Home", new {filename = "jQuery-MeadCo.ScriptX.Print.UI.js"})"></script>

    <script type="text/javascript">
        function asyncInProgress() {
            var bSpooling = MeadCo.ScriptX.Printing.IsSpooling();
            pageLogger("Spooling: " +
                bSpooling +
                ", jobCount: " +
                MeadCo.ScriptX.Printing.GetJobsCount(MeadCo.ScriptX.Printing.currentPrinter));
            if (bSpooling) {
                window.setTimeout(asyncInProgress, 1000);
            }
        }

        $(window).on("load",
            function() {
                pageLogger("Shim factory async test starting");
                MeadCo.log = pageLogger;

                try {
                    MeadCo.ScriptX.InitAsync().then(function() {
                        pageLogger("InitAsync complete - installed version of ScriptX is: " +
                        MeadCo.ScriptX.Version());

                        MeadCo.ScriptX.Printing.header = "h1";
                        MeadCo.ScriptX.Printing.footer = "h2";

                        var p = MeadCo.ScriptX.Printing;
                        p.header = "<h2>This is an enhanced header</h2>";
                        p.leftMargin = "0.5";
                        p.enhancedFormatting.allPagesHeader = "<b>All header</b>";
                        p.enhancedFormatting.allPagesFooter = "<h3>Footer</h3>";
                        p.enhancedFormatting.firstPageHeader = "A";
                        p.enhancedFormatting.firstPageFooter = "B";
                        p.enhancedFormatting.extraFirstPageFooter = "C";
                        p.enhancedFormatting.allHeaderHeight = 10;
                        p.enhancedFormatting.allFooterHeight = 20;
                        p.enhancedFormatting.firstHeaderHeight = 30;
                        p.enhancedFormatting.firstFooterHeight = 40;
                        p.enhancedFormatting.extraFirstFooterHeight = 50;

                        p.enhancedFormatting.pageRange = "1,2,3-5,10";
                        p.enhancedFormatting.printingPass = "odd&even";

                        pageLogger("Header was set to: " + p.header);
                        pageLogger("AllPagesFooter was set to: " + p.enhancedFormatting.allPagesFooter);
                        pageLogger("pagerange was set to: " + p.enhancedFormatting.pageRange);
                        pageLogger("printPass was set to: " + p.enhancedFormatting.printingPass);

                        $("#btn-printPage").click(function(e) {
                            e.preventDefault();
                            MeadCo.ScriptX.PrintPage(true);
                        });

                    }).catch(function(e) {
                        pageLogger("Failed to init: " + e.message);
                    });
                } catch (e) {
                    pageLogger("Error: " + e.message);
                }
                pageLogger("Shim factory .on(load) event complete");
            });
    </script>
}
