<div class="row" style="margin-top: 32px; border-left: 1px solid silver">
    <div class="col-md-8">
        <h4>For nearly 20 years MeadCo ScriptX has been the world's favourite Internet Explorer add-on to provide web developers and their users with control over printed output.</h4>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>

<h1>ScriptX.Print.HTML Service - Client Library for Cloud / OnPremise</h1>

<ul>
    <li>@Html.ActionLink("Modern","Modern")</li>
    <li>@Html.ActionLink("Emulate factory", "ShimFactory")</li>
    <li>@Html.ActionLink("Support MeadCoJS Library", "ShimMeadCoJS")</li>
    <li>@Html.ActionLink("Support MeadCoJS Library when is is included first", "ShimMeadCoJS2")</li>
    <li>@Html.ActionLink("Support MeadCoJS Library async initialisation", "ShimMeadCoJS3")</li>
    <li>@Html.ActionLink("Enhanced formatting basics", "EnhfBasic")</li>
    <li>@Html.ActionLink("Implementation inspector", "Inspector")</li>
</ul>

<h1>ScriptX.Print.HTML Service - Client Library for Windows PC</h1>

<ul>
    <li>@Html.ActionLink("Modern", "ModernPC")</li>
    <li>@Html.ActionLink("Support MeadCoJS Library when is is included first", "ShimMeadCoJS2PC")</li>
    <li>@Html.ActionLink("Support MeadCoJS Library async initialisation", "ShimMeadCoJS3PC")</li>
    <li>@Html.ActionLink("Enhanced formatting basics", "EnhfBasic")</li>
</ul>

<h1>ScriptX.Print.HTML Service - Distribution Client</h1>

<ul>
    <li>@Html.ActionLink("Emulate factory", "DistLibrary1")</li>
    <li>@Html.ActionLink("Client Library for Windows PC support MeadCoJS Library when is is included first", "DistLibrary2")</li>
    <li>@Html.ActionLink("Support MeadCoJS Library async initialisation", "DistLibrary3")</li>

</ul>