@model ScriptX.Print.Client.Models.Sample

@{
    ViewBag.Title = Model.Title;
    var frameUrl = Url.Action("FramedHeaderFooterArgs");
    var server = $"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~/api/v1/printHtml")}";
}

<h2>@ViewBag.Title</h2>

<div>
    <button id="btn-printPage" class="btn btn-primary">Print page</button>&nbsp;<button id="btn-printDoc" class="btn btn-primary">Print doc</button>&nbsp;<button id="btn-printFrame" class="btn btn-primary">Print frame</button>
</div>

<div style="margin: 20px; width: 50%; height: 500px">
    <iframe style="width: 100%; height: 100%; border: 2px solid grey; margin: 0px" src="@frameUrl" id="infoframe"></iframe>
</div>

<div id="logPane"></div>

@section scripts
{
    <script type="text/javascript">
        function pageLogger(txt) {
            $("#logPane").append(txt + "<br/>");
        }
    </script>

    <script src="~/Scripts/meadco-scriptx.js"></script>

    <script src="@Url.Action("script","Home",new { filename= "meadco-core.js" })"></script>
    <script src="@Url.Action("script","Home",new { filename= "meadco-scriptxprint.js" })"></script>
    <script src="@Url.Action("script","Home",new { filename= "meadco-scriptxprinthtml.js" })"></script>
    <script data-meadco-printhtmlserver="@server" data-meadco-subscription="@Model.License" src="@Url.Action("script", "Home", new {filename = "meadco-scriptxfactory.js"})"></script>

    <script type="text/javascript">
        $(window).on("load", function () {
            pageLogger("Shim factory test starting");
            MeadCo.log = pageLogger;

            try {
                if (MeadCo.ScriptX.Init()) {
                    pageLogger("Installed version of ScriptX is: " + MeadCo.ScriptX.Version());
                    MeadCo.ScriptX.Printing.header = "This is a MeadCoJSShim Header";
                    pageLogger("Header was set to: " + MeadCo.ScriptX.Printing.header);

                    $("#btn-printPage").click(function (e) {
                        e.preventDefault();
                        MeadCo.ScriptX.PrintPage(true);
                    });

                    $("#btn-printDoc").click(function (e) {
                        e.preventDefault();
                        MeadCo.ScriptX.BackgroundPrintURL("http://scriptx.meadroid.com");
                    });

                    $("#btn-printFrame").click(function (e) {
                        e.preventDefault();
                        MeadCo.ScriptX.PrintFrame("infoframe");
                    });
                } else {
                    pageLogger("Failed to init");
                }
            } catch (e) {
                pageLogger("Error: " + e.message);
            }
        });
    </script>
}
