<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MeadCo ScriptX.Print.Client Test", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="page-footer">
        <div class="container-fluid">
            <footer class="footer">
                <div class="navbar-text pull-right">
                    <small>:&nbsp; &nbsp;:&nbsp;&copy; @DateTime.Now.Year - Mead &amp; Company Ltd</small>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="@Url.Action("script","Home",new { filename= "meadco-core.js" })"></script>
    <script src="@Url.Action("script","Home",new { filename= "meadco-scriptxprint.js" })"></script>
    <script src="@Url.Action("script","Home",new { filename= "meadco-scriptxprinthtml.js" })"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
